*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    max-width: 1400px;
    padding-block: 1rem;
    padding-inline: 2rem;
    margin-block-end: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.navbar .logo img {
    width: 250px;
}

.navigasi {
    display: flex;
}

.navigasi ul {
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
    padding: 0;
}

.navigasi li {
    list-style-type: none;
}

.navigasi a {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    font-size: 1.05rem;
    font-weight: 400;
    color: black;
    transition: all 0.2s ease-in-out;
}

.navigasi li:hover a {
    background-color: #2d2d31;
    color: white;
}

.toggle-menu i {
    font-size: 1.5rem;
    color: black;
    margin-top: 0.8rem;
    margin-left: -3rem;
    display: none;
    cursor: pointer;
}

.toggle-menu:focus, .toggle-menu:active {
    outline: none;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-inline: 2rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content {
    flex: 1;
    display: flex;
    align-items: stretch;
    margin-block-end: 3rem;
}

main .content .description {
    flex: 1 1;
}

.description .h1 {
    margin-block: 1rem;
    font-size: 2.7rem;
    line-height: 3.5rem;
}

.description p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-inline-end: 10rem;
}

.description button {
    padding: 0.8rem 2.5rem;
    margin-block-start: 1rem;
    background: transparent;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #524fd5;
    color: white;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 999px;
    transition: all 0.2s ease-in;
}

.description button:hover {
    border: 3px solid #524fd5;
    background-color: transparent;
    color: #524fd5;
}

aside.side-1 {
    width: 100%;
    flex: 0;
    text-align: center;
    padding-inline: 2rem;
    padding: 1.5rem;
    box-shadow: 10px 10px 15px black;
    border-radius: 20px;
    background-color: #524fd5;
    color: white;
}

article {
    display: flex;
    margin-block-start: 3rem;
}

article .article-content h1 {
    display: flex;
    color: #524fd5;
    font-size: 2.8rem;
    justify-content: center;
}

article .article-content .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.article-content .group {
    flex-basis: 25%;
    width: 100%;
    padding: 2rem; 
    margin-inline: 2rem;
    margin-block: 1rem;
    border-radius: 2.3rem;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease-in-out;
}

.article-content a {
    flex-basis: 25%;
    color: black;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.2s ease-in-out;
}

.article-content .group:hover {
    background-color: white;
    box-shadow: 0 0 20px black;
    color: #524fd5;
    opacity: 1;
}

.article-content .group a:hover {
    color: #524fd5;
    opacity: 1;
}

.article-content .group h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-family: 'Sedan', 'Poppins', sans-serif;
    margin-block-end: 0;
}

.article-content .group figcaption {
    opacity: 0.5;
    margin-block-start: 0.8rem;
}

.hidden {
    display: none;
} 

article, section {
    display: flex;
    flex-direction: column;
}

section .title {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    font-family: 'Sedan', 'Poppins', sans-serif;
    margin-block-end: 0;
    margin-block-start: 5rem;
    color: black;
}

section .main-content {
    display: flex;
}

section .description-content {
    flex: 1;
}

section .main-content .description-content {
    margin-inline-end: 3rem;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 3rem;
    font-family: 'Quicksand', sans-serif;
}

section .main-content .description-content h2 {
    padding-block-end: 1rem;
    margin-block-start: 3rem;
    color: #524fd5;
    font-size: 1.4rem;
}

section .main-content .description-content p {
    line-height: 1.5rem;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

section .main-content .description-content li {
    margin-block: 2rem;
    font-size: 1.1rem;
}

.section-content aside figcaption {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.7rem;
    color: white;
}

.section-content aside {
    width: 100%;
    flex: 0;
    flex-direction: column;
    text-align: center;
    align-self: center;
    padding: 2rem;
    border-radius: 3rem;
    background-color: #222227;
    box-shadow: 0 0 20px black;
}

.group-section a {
    text-decoration: none;
}

.group-section button {
    display: flex;
    margin: auto;
    margin-block-end: 3rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 3px solid transparent;
    padding: 0.5rem 1.5rem;
    background-color: #524fd5;
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.group-section button:hover {
    background-color: transparent;
    border: 3px solid #524fd5;
    color: #524fd5;
}

hr {
    margin-block-start: 3rem;
    height: 0.5rem;
    width: 100%;
    background-color: #524fd5;
    border: none;
    border-radius: 1rem;
    transition: all 0.1s ease-in;
}

hr.sc {
    margin-block-start: 0;
    width: 50%;
}

hr.thr {
    margin-block-start: 0;
    width: 25%;
}

hr:hover {
    width: 100%;
}

.read-more {
    background-color: #524fd5;
    padding: 7rem 18rem;
    border-radius: 3rem;
    margin-block-start: 6rem;
    box-shadow: 0 0 20px black;
}

.read-more .read-more-title {
    color: white;
    font-size: 3.2rem;
}

.read-more .btn-read-more {
    text-align: center;
}

.btn-read-more button {
    background-color: #f6ab00;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 3rem;
    transition: 0.5s;
}

.btn-read-more button:hover {
    box-shadow: 0 0 30px #f6ab00;
}

footer .footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgba(0, 0, 0, 0.459);
    margin-block-start: 12rem;
    margin-block-end: 2rem;
}

.footer .info-footer {
    display: flex;
    justify-content: space-around;
}

.info-footer ul {
    display: flex;
}

.info-footer li {
    margin-inline: 2rem;
    font-size: 2rem;
    list-style-type: none;
}

.info-footer i {
    color: #222227;
    transition: all 0.2s ease-in-out;
}

.info-footer i:hover {
    color: #f6ab00;
}

.footer p {
    text-align: center;
    opacity: 0.5;
    margin: 0;
}

.navbar-new {
    display: none;
    position: absolute;
    right: 0rem;
    top: 55px;
    height: 0;
    width: 100%;
    background: white;
    opacity: 0.8;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar-new.is-active {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 1000; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-new.is-active a {
    font-weight: bold;
}

.navbar-new li {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 878px){
    .navigasi .navbar-menu {
        display: none;
    }
    .navigasi .toggle-menu i {
        display: flex;
        margin-block-end: 1rem;
    }
    .navbar-new{
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 4.5rem;
    }
}

@media (max-width: 878px){
    .navbar {
        padding-inline: 1rem;
    }

    .navbar .logo img {
        width: 200px;
    }

    main {
        padding-inline: 1rem;
    }

    main .content {
        display: flex;
        flex-direction: column;
    }

    .content .description .h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
        padding-inline: 1rem;
    }

    .content .description p {
        display: flex;
        flex-wrap: nowrap;
        margin-block-start: 2rem;
        margin-inline-end: 0;
        padding-inline: 1rem;
    }

    .content button {
        width: 100%;
        margin-block: 1rem 3rem;
        padding: 0.6rem;
    }

    .content .btn-content {
        padding-inline: 1rem;
    }

    .content .side-1 {
        padding-inline: 1rem;
    }

    .content .side-1 img {
        width: 250px;
    }

    .side-1 figcaption {
        padding-inline: 1rem;
    }

    article .article-content h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .article-content .wrapper {
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
    }

    .wrapper .group {
        margin: auto;
        margin-block-end: 2rem;
    }

    article .read-more {
        padding: 2rem 6rem;
    }

    .read-more .read-more-title {
        font-size: 2rem;
    }

    article.read {
        padding-inline: 1rem;
    }

    .read-more .read-more-title {
        text-align: center;
    }

    .read .btn-read-more button {
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
    }

    footer .footer .info-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 1rem;
    }

    .footer img {
        width: 200px;
    }

    .footer li {
        font-size: 1rem;
    }

    .info-footer ul {
        padding: 0;
    }

    .footer p {
        padding-inline: 1rem;
        font-size: 0.8rem;
    }

    .group-section .section-content .main-content {
        display: flex;
        flex-direction: column;
    }

    section .group-section {
        display: flex;
        flex-direction: column;
    }

    section .main-content .description-content {
        margin: 0rem;
    }

    .group-section .description-content p {
        margin-inline-end: 0;
    }

    .group-section aside {
        margin-block-start: 2rem;
    }

    .group-section .section-content button {
        margin-block-start: 3rem;
    }
}

@media (max-width: 412px){
    article .read-more {
        padding: 1.5rem 3rem;
    }

    section .section-content aside {
        font-size: 1rem;
        padding: 1.2rem;
    } 
}
